*{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

html{
    background-color: black;
}

body{
    min-height: 100vh;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #003B46;
    height: 7.5vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    z-index: 1;
}

footer{
    background-color: #003B46;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    bottom: 0;
    display: none;
}

.logo{
    font-size: 50px;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    
}

main{
    min-height: 100vh;
}